Importing of the Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Reading of the excel file HR dataset into Jupyter .

In [4]:
data = pd.read_excel ('HRDataset.xlsx')
data

,ï»¿Employee_Name,EmpID,Salary,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,MA,1960,1983-07-10,M,Single,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,2019-01-17,0,1
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,MA,2148,1975-05-05,M,Married,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,MA,1810,1988-09-19,F,Married,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,2012-05-15,0,3
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,MA,1886,1988-09-27,F,Married,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,2019-01-03,0,15
4,"Anderson, Carol",10069,50825.0,19,Production Technician I,MA,2169,1989-09-08,F,Divorced,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2016-02-01,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,MA,1810,1985-05-11,M,Single,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2019-02-28,0,13
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,MA,2458,1982-05-04,F,Single,...,Brannon Miller,12.0,Google Search,Fully Meets,3.20,2,0,2015-09-02,5,4
308,"Zamora, Jennifer",10010,220450.0,6,CIO,MA,2067,1979-08-30,F,Single,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2019-02-21,0,16
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,MA,2148,1979-02-24,F,Single,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2019-02-01,0,11
310,"Zima, Colleen",10271,45046.0,19,Production Technician I,MA,1730,1978-08-17,F,Widowed,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,2019-01-30,0,2

Clearing of the missing data in salary column.

In [35]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(data.iloc [:, 1:3])
data.iloc[:, 1:3]=imputer.transform(data.iloc[:, 1:3])
data

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,22.0,LinkedIn,Exceeds,4.6,5,0,2019-01-17,0,1
1,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,4.0,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17
2,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,20.0,LinkedIn,Fully Meets,3.02,3,0,2012-05-15,0,3
3,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,16.0,Indeed,Fully Meets,4.84,5,0,2019-01-03,0,15
4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,39.0,Google Search,Fully Meets,5.0,4,0,2016-02-01,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,20.0,LinkedIn,Fully Meets,4.07,4,0,2019-02-28,0,13
307,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,12.0,Google Search,Fully Meets,3.2,2,0,2015-09-02,5,4
308,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,2.0,Employee Referral,Exceeds,4.6,5,6,2019-02-21,0,16
309,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,4.0,Employee Referral,Fully Meets,5.0,3,5,2019-02-01,0,11
310,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,14.0,LinkedIn,Fully Meets,4.5,5,0,2019-01-30,0,2

Applying of onehotencoder in Marital Desc column

In [36]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[9])], remainder='passthrough')
data=pd.DataFrame(ct.fit_transform(data))
data

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,22.0,LinkedIn,Exceeds,4.6,5,0,2019-01-17,0,1
1,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,4.0,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17
2,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,20.0,LinkedIn,Fully Meets,3.02,3,0,2012-05-15,0,3
3,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,16.0,Indeed,Fully Meets,4.84,5,0,2019-01-03,0,15
4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,39.0,Google Search,Fully Meets,5.0,4,0,2016-02-01,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,20.0,LinkedIn,Fully Meets,4.07,4,0,2019-02-28,0,13
307,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Production,12.0,Google Search,Fully Meets,3.2,2,0,2015-09-02,5,4
308,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,2.0,Employee Referral,Exceeds,4.6,5,6,2019-02-21,0,16
309,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,4.0,Employee Referral,Fully Meets,5.0,3,5,2019-02-01,0,11
310,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,14.0,LinkedIn,Fully Meets,4.5,5,0,2019-01-30,0,2

Applying of labelencoding on PerformanceScore.

In [40]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data.iloc[:, 86]=le.fit_transform(data.iloc[:, 86])
data

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,22.0,5,0,4.6,5,0,2019-01-17,0,1
1,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,4.0,4,1,4.96,3,6,2016-02-24,0,17
2,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,20.0,5,1,3.02,3,0,2012-05-15,0,3
3,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,16.0,4,1,4.84,5,0,2019-01-03,0,15
4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,39.0,3,1,5.0,4,0,2016-02-01,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,20.0,5,1,4.07,4,0,2019-02-28,0,13
307,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Production,12.0,3,1,3.2,2,0,2015-09-02,5,4
308,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,2.0,2,0,4.6,5,6,2019-02-21,0,16
309,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,IT/IS,4.0,2,1,5.0,3,5,2019-02-01,0,11
310,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,Production,14.0,5,1,4.5,5,0,2019-01-30,0,2